body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background: $sa-header-bg-color;
  z-index: 9;
}

main {
  display: flex;
  flex: 1;
  overflow: auto;
  background: $sa-darker-blue;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

.pt-input-group {
  position: relative;
}

span.sa-error {
  position: absolute;
  top: 5px;
  right: 5px;
  color: $pt-intent-danger;
  margin-left: 1rem;
}

.pt-navbar.pt-dark {
  width: 100%;
  background: transparent;
  text-transform: uppercase;
  box-shadow: none;

  @media (max-width: 768px) {
    .pt-button span {
      display: none;
    }
  }
}

#sa-navbar-heading {
  display: flex;
  flex-direction: row;
  height: $pt-navbar-height;
  padding: 10px 0;

  img {
    margin-right: 10px;
  }

  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 0.9em;
  }
}
