/* Modify BlueprintJS variables here */
@import url('https://fonts.googleapis.com/css?family=Nunito');

$icon-font-path: '~@blueprintjs/core/resources/icons' !default;
$pt-font-family: 'Nunito', sans-serif !default;
$pt-navbar-height: 50px !default;
$pt-font-size: 14px !default;

// Source Academy Color Pallete
$sa-dark-blue: #101e35 !default;
$sa-darker-blue: darken($sa-dark-blue, 5%);

$sa-gray5: #F2F4F7;
$sa-gray4: darken($sa-gray5, 5%);
$sa-gray3: darken($sa-gray5, 10%);
$sa-gray2: darken($sa-gray5, 15%);
$sa-gray1: darken($sa-gray5, 20%);

// Layout Variables
$sa-header-bg-color: black;

@import '~@blueprintjs/core/src/common/variables';
