<p> Dear <%= @avenger_name %>,</p>

<p> There is a new submission by <%= @student_name %> for <a href="<%= @submission_url %>"><%= @assessment_title %></a>. Please Review and grade the submission.</p>

<a href="/">Unsubscribe</a> from this email topic.
