use Mix.Config

# Configure Arc File Upload

## Uncomment below to use local storage
config :arc, storage: Arc.Storage.Local

## Uncomment below to use AWS S3
# config :arc,
#   virtual_host: true
#
# config :ex_aws,
#   access_key_id: "ACCESS_KEY_ID",
#   secret_access_key: "SECRET_ACCESS_KEY"
