import Config

config :cadet,
  identity_providers: %{
    # If you are just doing development, you can simply use the test provider
    # below. You only need to use ADFS or OpenID if you are deploying to
    # production.

    # # To use authentication with NUS's ADFS instance.
    # "nusnet_id" => {Cadet.Auth.Providers.ADFS, %{token_endpoint: "https://my-adfs/adfs/oauth2/token"}},
    # # An example of OpenID authentication with Cognito. Any OpenID-compliant
    # # provider should work.
    # "cognito" =>
    #   {Cadet.Auth.Providers.OpenID,
    #    %{
    #      # This should match a key in openid_connect_providers below
    #      openid_provider: :cognito,
    #      # You may need to write your own claim extractor for other providers
    #      claim_extractor: Cadet.Auth.Providers.CognitoClaimExtractor
    #    }},
    # # To use authentication with GitHub
    # "github" =>
    #   {Cadet.Auth.Providers.GitHub,
    #    %{
    #       # A map of GitHub client_id => client_secret
    #       clients: %{
    #         "client_id" => "client_secret"
    #       },
    #       token_url: "https://github.com/login/oauth/access_token",
    #       user_api: "https://api.github.com/user"
    #    }},

    # # Example SAML authentication with NUS Student IdP
    # "test_saml" =>
    #   {Cadet.Auth.Providers.SAML,
    #    %{
    #      assertion_extractor: Cadet.Auth.Providers.NusstuAssertionExtractor,
    #      client_redirect_url: "http://cadet.frontend:8000/login/callback"
    #      vscode_redirect_url_prefix: "vscode://source-academy.source-academy/sso",
    #      client_post_exchange_redirect_url: "http://cadet.frontend:8000/login/vscode_callback",
    #    }},

    "test" =>
      {Cadet.Auth.Providers.Config,
       [
         %{
           token: "admin_token",
           code: "admin_code",
           name: "Test Admin",
           username: "admin",
           role: :admin
         },
         %{
           token: "staff_token",
           code: "staff_code",
           name: "Test Staff",
           username: "staff",
           role: :staff
         },
         %{
           token: "student_token",
           code: "student_code",
           name: "Test Student",
           username: "student",
           role: :student
         }
       ]}
  },
  # See https://hexdocs.pm/openid_connect/readme.html
  # openid_connect_providers: [
  #   cognito: [
  #     discovery_document_uri: "",
  #     client_id: "",
  #     client_secret: "",
  #     response_type: "code",
  #     scope: "openid profile"
  #   ]
  # ],
  autograder: [
    lambda_name: "autograderLambdaName"
  ],
  uploader: [
    assets_bucket: "source-academy-assets",
    assets_prefix: "courses-dev/",
    sourcecasts_bucket: "env-cadet-sourcecasts"
  ],
  # Configuration for Sling integration (executing on remote devices)
  remote_execution: [
    # Prefix for AWS IoT thing names
    thing_prefix: "env-sling",
    # AWS IoT thing group to put created things into (must be set-up beforehand)
    thing_group: "env-sling",
    # Role ARN to use when generating signed client MQTT-WS URLs (must be set-up beforehand)
    client_role_arn: "arn:aws:iam::12345678:role/env-cadet-frontend"
    # MQTT endpoint address for sling on the remote device to connect to
    # endpoint_address: "hostname:port"
    # WebSockets endpoint for sling on the frontend to connect to
    # ws_endpoint_address: "ws://hostname:port"
  ]

config :openai,
  # Input your own AES-256 encryption key here for encrypting LLM API keys of 16, 24 or 32 bytes
  encryption_key: "<ADD YOUR OWN KEY HERE>"

# config :sentry,
#   dsn: "https://public_key/sentry.io/somethingsomething"

# # Additional configuration for SAML authentication
# # For more details, see https://github.com/handnot2/samly
# config :samly, Samly.Provider,
#   idp_id_from: :path_segment,
#   service_providers: [
#     %{
#       id: "source-academy-backend",
#       certfile: "example_path/certfile.pem",
#       keyfile: "example_path/keyfile.pem"
#     }
#   ],
#   identity_providers: [
#     %{
#       id: "student",
#       sp_id: "source-academy-backend",
#       base_url: "https://example_backend/sso",
#       metadata_file: "student_idp_metadata.xml"
#     },
#     %{
#       id: "staff",
#       sp_id: "source-academy-backend",
#       base_url: "https://example_backend/sso",
#       metadata_file: "staff_idp_metadata.xml"
#     }
#   ]
