use Mix.Config

config :cadet,
  updater: [
    cs1101s_repository: "git@github.com:cs1101s/cs1101s.git",
    cs1101s_rsa_key: "/home/user/.ssh/cs1101s",
    guest_username: "E123456",
    guest_password: "password",
    ivle_key: "IVLE_KEY"
  ]
