use Mix.Config

config :cadet,
  luminus: [
    api_key: "API_KEY",
    client_id: "CLIENT_ID",
    client_secret: "CLIENT_SECRET",
    redirect_url: "REDIRECT_URL"
  ],
  updater: [
    cs1101s_repository: "git@github.com:cs1101s/cs1101s.git",
    cs1101s_rsa_key: "/home/user/.ssh/cs1101s"
  ],
  autograder: [
    lambda_name: "autograderLambdaName"
  ],
  chat: [
    instance_id: "CHATKIT_INSTANCE_ID",
    key_id: "CHATKIT_KEY_ID",
    key_secret: "CHATKIT_KEY_SECRET"
  ]

config :sentry,
  dsn: "https://public_key/sentry.io/somethingsomething"

# Configure Arc File Upload for development only

# Uncomment below to use local storage
config :arc, storage: Arc.Storage.Local

# Uncomment below to use AWS S3
# config :arc,
#   bucket: "BUCKET_NAME",
#   virtual_host: true
#
# config :ex_aws,
#   access_key_id: "ACCESS_KEY_ID",
#   secret_access_key: "SECRET_ACCESS_KEY"
