use Mix.Config

config :cadet,
  luminus: [
    api_key: "API_KEY",
    client_id: "CLIENT_ID",
    client_secret: "CLIENT_SECRET",
    redirect_url: "REDIRECT_URL"
  ],
  updater: [
    cs1101s_repository: "git@github.com:cs1101s/cs1101s.git",
    cs1101s_rsa_key: "/home/user/.ssh/cs1101s"
  ],
  autograder: [
    lambda_name: "autograderLambdaName"
  ],
  chat: [
    instance_id: "CHATKIT_INSTANCE_ID",
    key_id: "CHATKIT_KEY_ID",
    key_secret: "CHATKIT_KEY_SECRET"
  ],
  uploader: [
    materials_bucket: "env-cadet-materials",
    sourcecasts_bucket: "env-cadet-sourcecasts"
  ]

config :sentry,
  dsn: "https://public_key/sentry.io/somethingsomething"
