name: Run CI
on:
  push:
    branches:
      - master
    paths:
      - "config/**"
      - "lib/**"
      - "priv/**"
      - "rel/**"
      - "test/**"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"
      - ".github/workflows/ci.yml"
      - "!config/*.example"
  pull_request:

jobs:
  ci:
    name: Run CI
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ELIXIR_VERSION: 1.19.5
      OTP_VERSION: 28.3.1
    services:
      postgres:
        image: postgres:18.3
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: cadet_test
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v6
      - name: Cache deps
        uses: actions/cache@v5
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
          restore-keys: |
            ${{ runner.os }}-mix-
      # Don't cache build artifacts in CI
      - name: Setup Elixir
        uses: erlef/setup-elixir@v1
        with:
          elixir-version: ${{ env.ELIXIR_VERSION }}
          otp-version: ${{ env.OTP_VERSION }}
      - name: mix deps.get
        run: |
          mix deps.get
      - name: mix format and mix credo
        run: |
          mix format --check-formatted
          mix credo
      - name: mix ecto.setup
        run: |
          mix ecto.setup
      - name: mix coveralls.github (run tests)
        run: |
          mix coveralls.github
      - name: mix dialyzer (check typing)
        run: |
          mkdir -p priv/plts
          mix dialyzer
      - name: mix inch.report (check documentation coverage)
        run: |
          mix inch.report || :
